{
  "presets": [
    "next/babel",
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "syntax-async-functions",
    "@babel/plugin-transform-runtime"
  ]
}